/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";
                
                combos = {
                    compatible = "zmk,combos";

                    esc_combo {
                        keys = <&kp ESC>;
                        key-positions = <19,20>;// J and K
                        timeout = <50>;
                    };
                    opening_curly_bracket_combo {
                        keys = <&kp LBRC>;
                        key-positions = <6,7>;// Y and U
                        timeout = <50>;
                    };
                    closing_curly_bracket_combo {
                        keys = <&kp RBRC>;
                        key-positions = <1,2>; // Q and W
                        timeout = <50>;
                    };
                    opening_normal_bracket_combo {
                        keys = <&kp LPAR>;
                        key-positions = <18,19>; // H and J
                        timeout = <50>;
                    };
                    closing_normal_bracket_combo {
                        keys = <&kp RPAR>;
                        key-positions = <16,17>;// F and G
                        timeout = <50>;
                    };
                    opening_angel_bracket_combo {
                        keys = <&kp LBKT>;
                        key-positions = <28,29>; // Positions for V and B
                        timeout = <50>;
                    };
                    closing_angel_bracket_combo {
                        keys = <&kp LBKT>;
                        key-positions = <30,31>; // Positions for N and M
                        timeout = <50>;
                    };
                    arrow_combo {
                        bindings = <&kp EQUAL &kp GT>;
                        key-positions = <37 38>; // Positions for N and M
                        timeout = <50>;
                    };
                };

                default_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R   |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
// | SHFT |  A  |  S  |  D  |  F   |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V   |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | TAB | SHFT | ENT |   | SPC | BSPC  | ALT |
                        bindings = <
   &kp TAB   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &kp LSHFT &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &kp LCTRL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp TAB &kp LSHIFT &kp RET      &kp 1 SPACE &kp BSPC &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |      |  `  |  7  |  8  |  9  |  +  |   | BSP |  &  |  *  |  (  |     |      |
// |      |  ,  |  4  |  5  |  6  |  =  |   |  \  |  $  |  %  |  ^  |     |      |
// |      |  .  |  1  |  2  |  3  |  -  |   |  _  |  !  |  @  |  #  |     |      |
//                    |     |  0  | SPC |   | ENT |     |     |
                        bindings = <
   &none &kp GRAVE &kp KP_7 &kp KP_8 &kp KP_9 &kp KP_PLUS        &kp BSPC  &kp AMPS &kp STAR  &kp LPAR  &none &none
   &none &kp COMMA &kp KP_4 &kp KP_5 &kp KP_6 &kp KP_EQUAL_AS400 &kp BSLH  &kp DLLR &kp PRCNT &kp CARET &none &none
   &none &kp DOT   &kp KP_1 &kp KP_2 &kp KP_3 &kp SPACE          &kp UNDER &kp EXCL &kp AT    &kp HASH  &none &none
                            &none LGUI &kp KP_N0 &kp SPACE       &kp RET   &none    &none
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |      |     | F12 |  F7  |  F8  |  F9  |   |      |      |     |       |     |      |
// |      |     | F11 |  F4  |  F5  |  F6  |   | LEFT | DOWN | UP  | RIGHT | DEL |      |
// |      |     | F10 |  F1  |  F2  |  F3  |   |      |      |     |       |     |      |
//                    |      |      |      |   |      |      |     |
                        bindings = <
   &none &none &kp F12 &kp F7 &kp F8 &kp F9   &none    &none    &none  &none     &none   &none 
   &none &none &kp F11 &kp F4 &kp F5 &kp F6   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp DEL &none
   &none &none &kp F10 &kp F1 &kp F2 &kp F3   &none    &none    &none  &none     &none   &none 
                       &none  &none  &none    &none    &none    &none 
                        >;
                };
        };
};
